html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.create {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.search {
  -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.notes{
  -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.search-flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.column{
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}
label {
	white-space: nowrap;
}
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */


#form-field{
display:block;
}
/* */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
