html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.create {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.search {
  -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.notes{
  -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background: #ccc;
    padding: 20px;
  border-style: solid;
}
.search-flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.column{
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: green;
    padding: 20px;
  border-style: solid;
}
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#form-field{
display:block;
}
/* */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
